@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.standard{
    background: #252B42;
    color: white;


}
.standard {
    background: #252B42;
}

.pricing-container {
    max-width: 960px;
}